<div class="row">
  <div class="col-md-6">
    <div *ngIf="createCanvas==true" style="display: block; width:600px; height: 400px">
            <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>

<script src="node_modules/chart.js/src/chart.js"></script>
